# FINNHUB
FINNHUB_API_KEY=your_finnhub_api_key_here

# SUPABASE
SUPABASE_HOST=db.your-project-ref.supabase.co
SUPABASE_PORT=5432
SUPABASE_NAME=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=your_supabase_password_here

# AIRFLOW
AIRFLOW_UID=50000
